@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

/*Global*/

.visually-hidden {
  visibility: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

/*! index !*/
/* header */

.logo-image {
  width: 138px;
  height: 64px;
}

.navigation-item {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.icon--search {
  background-image: url(../images/icons/search.svg);

}

.icon--favarity {
  background-image: url(../images/icons/heart.svg);
}

/* hero */
.hero-background-image {
  background-color: #2F414E;
  background-image: url('../images/index-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-divider {
  background: url('../images/divider.svg') bottom / cover no-repeat;
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
}

.welcome-image {
  width: 458px;
  height: 352px;
}

/* advantages */

.advantages-images {
  width: 800px;
  height: 385px;
}

.item--basic {
  background-color: #82B3D3;
}

.item--second-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.item--second-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

/* services */

.icon-services {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
}

.icon--home {
  background-image: url(../images/icons/home.svg);
}

.icon--food {
  background-image: url(../images/icons/food.svg);
}

.icon--present {
  background-image: url(../images/icons/souvenirs.svg);
}

/* subscribe */
.subscribe {
  width: 1200px;
  height: 414px;
  background-image: url(../images/background-image-subscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #99A9A9;
}

/* footer */
.footer-social-item {
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
}

.social--vk {
  background-image: url(../images/icons/social-vk.svg);
}

.social--telegram {
  background-image: url(../images/icons/social-telegram.svg);
}

.social--youtube {
  background-image: url(../images/icons/social-youtube.svg);
}

.logo-html-academy {
  background-image: url(../images/logo-html-academy.svg);
  background-repeat: no-repeat;
}


/*! hotels-catalog !*/

/* main */
.background-hotel {
  background-image: url(../images/background-hotel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 412px;
  background-color: #3C4E58;
}

.icon--breadcrumps {
  background-image: url(../images/icons/home-breadcrumps.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon--arrow-right {
  background-image: url(../images/icons/breadcrumbs-arrow-right.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

/* filter */
.catalog-filter {
  display: flex;
}

/* search-result */
.sort {
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  padding: 17px 16px;
}

.icon--tile-type {
  background-image: url(../images/icons/tile-type.svg);
}

.icon--card-type {
  background-image: url(../images/icons/card-type.svg);
}

.icon--table-type {
  background-image: url(../images/icons/table-type.svg);
}

.star-wrapper {
  width: 140px;
  height: 37px;
}

.icon--star {
  background-image: url(../images/icons/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 140px;
  height: 37px;
}

.star-3 {
  width: 65px;
}

.star-2 {
  width: 50px;
}
